*{
    margin: 0;
    border: 0;
    padding: 0;
}/* font-family: 'Nunito', sans-serif; */
body{
    background: burlywood;
    background-size: cover;
}
/* doc profiles */
.doc-profiles {
    display: flex;
    margin-left: 40%;
    overflow: scroll;
    
}
.doc-profiles .slide {
    border-radius: .7rem;
    text-align: center;
    background-color: hsl(0, 0%, 75%);
    border: 2px solid white;
}
.doc-profiles .slide img {
    height: 150;
    
}
.doc-profiles .slide button {
    background: cyan;
    padding: 5px;
    border-radius: .5rem;
    cursor: pointer;
}
.doc-profiles .slide button:hover {
    background: white;

}
.doc-profiles .slide button a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 0%, 25%);
}
/* doc profiles */


/* partners section */

.partners .p-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 5% ;
}
.partners .p-heading span {
    font-size: xx-large;
    background: cyan;
    border-radius: .5rem;
    padding: .7rem 1rem;
}
.partners .p-heading .empty {
    background: none;
}
.partners .p-partners {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 150;
}
.partners .p-partners img {
    border-radius: 50%;
    height: 150;
    width: 150;
}




/* partners section */

/* footer section */     /*media query
    dispaly: flex
    flexdirection;column
    background;gray
    padding;8px*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}    
footer .s-media, .contacts h4 {
    color: white;
    font-size: large; /*large*/
    text-transform: uppercase;
    font-weight: 700;

}
footer .s-media, .contacts {
    display: flex;
    flex-direction: column;
    padding: 20px; /*10px*/
    background: rgba(255, 255, 255,0.1);
    
}
footer .contacts a{
    text-decoration: none;
    font-weight: 300;
    color: hsl(180, 100%, 50%);
}
footer .contacts a:hover {
    text-decoration: underline;
}
footer .contacts a i{
    font-size: larger;
}
footer .contacts a i:hover {
    font-size: xx-large;

}
footer .s-media h4{
    color: white;
    font-size: large;
    text-transform: uppercase;
    font-weight: 700;
    
}
footer .s-media a{
    text-decoration: none;
    text-decoration: none;
    color: hsl(180, 100%, 50%);
    
}
footer .s-media a i{
    font-size: larger;
}
footer .s-media a i:hover {
    font-size: xx-large;

}
/* footer section ends */

/* navigation bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10%;
    padding-top: 5%;
    background: red;
    margin-left: 40%;
} 
nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    color: hsl(180, 100%, 30%);
}
/* navigation ends */

/* doc profiles */








/* doc profiles */