body{
    background-image: url(/Assets/images/6.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

/* Navigation section */
.Navigation{
    justify-content: center;
    box-shadow: 5px 0px 25px gray;

}

.Navigation>.head{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Navigation>.head>.user{
    margin: 20px;
}

.Navigation>.head>.user>i{
    border: 1px solid grey;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 0px 15px grey;
}

.Navigation>.head>.user>.name{
    font-size: 24px;
}

.Navigation>.head>.user>span{
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px;
    box-shadow: 5px 0px 10px grey;
}

.Navigation>.head>#header{
    margin-left: 35%;
    font-weight: bold;
    font-size: 30px;
    color: hsl(180, 100%, 43%);
    margin-top: 0px;
    text-decoration: underline;
}

/* Body section */
.body{
    opacity: 1;
    margin-left: 15px;
    display: flex;
}

/* Buttons section */
.body>.buttons{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.body>.buttons>.cons{
margin: 20px 0px 30px 20px;
padding: 10%;
border-radius: 20px;
border: 1px solid grey;
font-size: 20px;
font-weight: 600;
cursor: pointer;

}

.body>.buttons>.due{
    margin: 20px 0px 30px 20px;
    padding: 10%;
    border-radius: 20px;
    border: 1px solid grey;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.body>.buttons>.notes{
margin: 20px 0px 30px 20px;
font-size: 20px;
font-weight: 600;
height: 70%;
padding: 20%;
border-radius: 20px;
border: 1px solid grey;
cursor: pointer;
}

/* Doctor division container */

.body>.doctors{
    border: 1px solid red;
    margin-left: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: 
    
    box-shadow: 5px 5px 5px grey;

}

/* Images under */
.body>.doctors>.images{
    margin: 20px 20px 20px 20px;
    height: 400px;
    overflow: scroll;
}

.body>.doctors>.images>.doc{
justify-content: space-between;
 padding: 20px; 
min-width: 100%;
display: flex;
margin-top: 0px;
}

.doctors>.images>.doc>.one{
    border: 1px solid grey;
    text-align: center;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 0px;

}


.doctors>.images>.doc>.one>#one{
    padding: 10px 50px ;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;

}


.body>.doctors>.images>.patient{
justify-content: space-between;
 padding: 20px; 
min-width: 100%;
display: flex;
margin-top: 0px;
}

.doctors>.images>.patient>.one{
    border: 1px solid grey;
    text-align: center;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 0px;
}

.doctors>.images>.patient>.one>#one{
    padding: 10px 50px ;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;

}

.body>.doctors>.special{
display: flex;    
    
}