*{
    font-family: 'Nunito';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerOne{
    margin-left: 50px;
    padding: 10px;
}
    
.containerOne>.userProfile>i{
    margin-left: 50px;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid aqua;
    box-shadow: 2px aqua;
    margin-top: 30px;
}

.containerOne>.userProfile>.title>h1{
    text-align: center;
    margin-top: -90px;
    color: aqua;
    text-decoration: underline;
}

.formInput{
    margin-top: 40px;
}

.logOut{
    margin-bottom: 30px;
    padding: 5px;
    margin-left: 8px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: aqua;
}

.logOut:hover{
    color: aqua;
}

.buton>.consult{
    height: 60px;
    width: 180px;
    border-radius: 20px;
    background-color: aqua;
    margin-top: 50px;
}

.buton>.appoint{
    height: 60px;
    width: 180px;
    border-radius: 20px;
    background-color: aqua;
    margin-top: 50px;
}

.buton>.history{
    height: 60px;
    width: 180px;
    border-radius: 20px;
    background-color: aqua;
    margin-top: 50px;
}

.buton>.pay{
    height: 60px;
    width: 180px;
    border-radius: 20px;
    background-color: aqua;
    margin-top: 50px;
}

.doctors{
    border: 3px solid aqua;
    border-radius: 10px;
    margin-left: 400px;
    padding: 5px;
    height: 300px;
    width: 900px;
    overflow: scroll;
    margin-top: -600px;
    cursor: pointer;
}

.doctors .titleHead{
    text-align: center;
}

.doctors .doc-box{
    display: flex;
    gap: 2rem;
    padding: 5px;
}

.doctors .doc-box .box{
    text-align: center;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 3px solid aqua;
}

.doctors .doc-box .box img{
    box-shadow: var(--box-shadow);
    border: 3px solid aqua;
    border-radius: 10px;
}

.doctors .doc-images{
    display: flex;
    gap: 2rem;
    padding: 5px;
}
.doctors .doc-images .box{
    text-align: center;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 3px solid aqua;
}

.doctors .doc-images .box img{
    box-shadow: var(--box-shadow);
    border: 3px solid aqua;
    border-radius: 10px;
}

.equipmentContainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 5px;
    margin-left: 400px;
    margin-top: 50px;
}

.equipmentContainer .equipment-box{
    text-align: center;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 3px solid aqua;
    margin-top: 30px;
}

.equipmentContainer .equipment-box img{
    box-shadow: var(--box-shadow);
    border: 3px solid aqua;
    border-radius: 10px;
}

.equipmentContainer{
    border: 3px solid aqua;
    border-radius: 10px;
    padding: 5px;
    height: 250px;
    width: 1000px;
    overflow: scroll;
    cursor: pointer;
    margin-bottom: 50px;
}