*{
    font-family: 'Nunito';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background: url(../images/telescope.jpeg); */
    /* background-size: cover; */
}

.containerOne{
    margin-left: 50px;
    padding: 10px;
}
    
.containerOne>.userProfile>i{
    margin-left: 50px;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid grey;
    box-shadow: 2px grey;
}

.containerOne>.userProfile>i{
    margin-top: 50px;
}
.containerOne .userProfile .title{
    text-align: center;
    margin-top: -50px;
    color: aqua;
}

.formInput{
    margin-top: 15px;
}

.logOut{
    margin-bottom: 30px;
    padding: 5px;
    margin-left: 35px;
    height: 25px;
    width: 80px;
    background-color: #E1F4FF;
}

.logOut:hover{
    color: blue;
}
.doctors{
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 600px;
    padding: 5px;
    height: 300px;
    width: 800px;
    overflow: scroll;
    margin-top: -150px;
    cursor: pointer;
}

.doctors .titleHead{
    text-align: center;
}

.doctors .doc-box{
    display: flex;
    gap: 2rem;
    padding: 5px;
}

.doctors .doc-box .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 1px solid grey;
}

.doctors .doc-images{
    display: flex;
    gap: 2rem;
    padding: 5px;
}
.doctors .doc-images .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 1px solid grey;
}
