*{
    font-family: 'Nunito';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerOne{
    background-color: #E1F4FF;
    width: 100%;
    height: 100%;
}

.userPage{
    margin-left: 70px;
    margin-top: 50px;
    background-color: white;
}

.userPage{
    background: url(../images/telescope.jpeg);
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 500px;
}
.userPage .userProfile .fa-user{
    padding-top: 50px;
    margin-left: 50px;
}

.userPage .userProfile .title{
    margin-left: 500px;
    margin-top: -50px;
}
